<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=@, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <input type="hidden" name="_csrf" value="..." />
    <title>all contacts</title>
</head>
<body>
    @each(contact in contacts)
      <ul>
          <li>{{contact.id}}</li>
          <li>{{contact.name}}</li>
          <li>{{contact.phone_number}}</li>
      </ul>
      @else
      <p>No contacts</p>
    @endeach
</body>
</html>